* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.background {
    background-color: #d5f3ff;
    background-image: linear-gradient(135deg, #e6fbfd 25%, transparent 25%), linear-gradient(225deg, #e1fbff 25%, transparent 25%), linear-gradient(45deg, #e3f7ff 25%, transparent 25%), linear-gradient(315deg, #ffffff 25%, #f0fbff 25%);
    background-position: 4px 0, 4px 0, 0 0, 0 0;
    background-size: 4px 4px;
    background-repeat: repeat;


    min-height: 100vh;
}

.limitar-secao {
    max-width: 1024px;
}

/*---------------------------------------------------------------------------------------*/

.titulo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 180px;
    justify-content: center;
}

/*---------------------------------------------------------------------------------------*/

.secao-conteudo {
    margin: 0 auto;
    height: 400px;
    display: flex;
}

/*---------------------------------------------------------------------------------------*/

.box-imagem {
    width: 50%;
    height: 100%;
    display: grid;
    align-items: center;
}

.box-imagem img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 2px 2px 4px rgb(211, 211, 211);
}

/*---------------------------------------------------------------------------------------*/

.box-tabs {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.botoes {
    position: absolute;
    top: 16%;
    width: 90%;
    height: 10%;
    display: flex;
    background-color: rgb(204, 241, 255);
    box-shadow: 2px 2px 4px rgb(211, 211, 211);
}

.botoes button {
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
    letter-spacing: 2px;
}

.botoes button:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.conteudo-btns {
    position: absolute;
    top: 26%;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    box-shadow: 2px 2px 4px rgb(211, 211, 211);
}

.conteudo-texto {
    display: none;
}

.conteudo-texto.ativo{
    display: block;
}

button.ativo{
    background-color: #fff;
}